@import '../../../common.styl'
.screenWrapper
	position absolute
	min-width calc(100vw - 100px)
	left 84px
	top 0
	max-height 100vh
	overflow auto
	margin-left: 10px;

	.screen
		background white

		.table
			color black

			.head
				color black

				.row
					display grid
					grid-template-columns 1fr 1fr 1fr 1fr 1fr

			.body
				color black

		.pagination
				color black

			
